<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/card.css">
</head>

<body>
    <div id="top">
        <div id="mini">
            <div id="help">Need help? 922330022</div>
            <h3>Price Details</h3>
            <div id="smallBox">
                <div>
                    <div>Total MRP:</div>
                    <p id="mrp"> {{tot}}</p>
                </div>
                <div>
                    <div class="ship">Shipping charges:</div>
                    <div>Free</div>
                </div>
                <div>
                    <div>Coupon Discount:</div>
                    <div class="dis">₹0</div>
                </div>
                <div>


                    <div></div>
                </div>

            </div>

        </div>
        <button><a href="address">Place order</a></button>
    </div>





    <div>
        <div id="data">


            {{#each item}}
            <div id="myDIV">
                <div>
                    <img src={{image}} alt="">
                </div>
                
                    <div>
                        <p class="txt">{{name}} </p>
                    </div>
                    <div>
                        <p class="txt">₹{{price}}</p>
                    </div>

                   
                </div>

     <p class="f txt"> ★{{rating}}</p>


            </div>
            {{/each}}

        </div>
</body>

</html>